{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui stackable centered grid container">
	<div class="sixteen wide column">
		<a class="ui basic compact button" href="{{ url_for('main.index') }}">
			<i class="caret left icon"></i>
			Back Home
		</a>

		{% if game.is_complete() %}

		<h2 class="ui header">
			<i class="stopwatch icon"></i>
			<div class="content">
				Game Complete
			</div>
		</h2>

		<p>
		This game is over! {{game.players[game.board[0]].name}} was victorious with <b>{{game.get_kills(game.board[0])}}</b> kills. Qapla!
		</p>

		{% if current_user.is_admin() and not game.is_archived() %}

		<p>
		<b>Administrator!</b> This game has not been archived. Click below to record it for posterity.
		<div class="ui right labeled icon button" onclick="archive('{{g.id}}')">
			<i class="right arrow icon"></i>
			Archive Results
		</div>
		</p>

		{% endif %}



		{% endif %}

		<h2 class="ui header">
			I don't practice Santaria
		</h2>

		{% set flashes = {
		'error':   get_flashed_messages(category_filter=['form-error']),
		'warning': get_flashed_messages(category_filter=['form-check-email']),
		'info':    get_flashed_messages(category_filter=['form-info']),
		'success': get_flashed_messages(category_filter=['form-success'])
		} %}
		<div class="ui six doubling cards">

		{% for player_id in game.board %}

		<div class="ui card">
			<div class="ui image">
				<img src="/static/images/games/cups_{{game.players[player_id].cups}}.png">
			</div>
			<div class="content">
				<a class="header">{{game.players[player_id].name}}</a>
				<div class="meta">
				{% if game.is_playing() %}
					<span>Target for <b>{{game.get_previous_player(player_id).name}}</b></span>
				{% else %}
					<span><b>Champion</b></span>
   			        {% endif %}
				</div>
			</div>
			{% if game.is_playing() %}
			<div class="ui bottom attached button" onclick="hit_cup('{{player_id}}')">
				<i class="crosshairs icon"></i>
				Cup Hit
			</div>
			{% endif %}
		</div>

		{% endfor %}
		</div>


		<h3 class="ui header">
			Graveyard
		</h3>
		<div class="ui six doubling cards">
		{% for player_id in game.eliminated %}

		<div class="ui card">
			<div class="ui image">
				<img src="/static/images/games/gravestone.png">
			</div>
			<div class="content">
				<a class="header">{{game.players[player_id].name}}</a>
				<div class="meta">
					<span>Killed by <b>{{game.players[game.players[player_id].knocked_out_by].name}}</b></span>
				</div>
			</div>
		</div>

		{% endfor %}
		</div>

	</div>
</div>

<script type="text/javascript">
	function hit_cup(player_id){
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", '{{csrf_token()}}');
				}
			}
		});
		$.post('actions/cup_hit', {
			target_id: player_id,
		}).done(function(response) {
	                location.reload(); 
		}).fail(function() {
	                location.reload(); 
		});

	}
</script>

{% endblock %}





